@font-face {
    font-family: Campton;
    src: url(Font/Campton-LightDEMO.woff);
    font-weight: normal;
}
@font-face {
    font-family: Campton;
    src: url(Font/Campton-BoldDEMO.woff);
    font-weight: bold;
}
html{
    overflow-x: hidden;
}
body{
    font-family: Campton;
    overflow-y: hidden;
}
#app{
    height: 500px;
    width: 260px;
    margin: auto;
    position: relative;
    .content{
        overflow: hidden;
        text-align: center;
        position: relative;
        width: auto;
        height: inherit;
        //z-index: -1;
        .iphone{
            background-image:url(img/Iphone_x.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: inherit;
            .app_screen{
                background-color: #A4BB3A;
                width: 84%;
                overflow: hidden;
                margin: 0 auto;
                z-index: -1;
                position: relative;
                height: 92.6%;
                top: 3.5%;
                .white{
                    height: 47%;
                    border-top-right-radius: 50%;
                    border-top-left-radius: 50%;
                    background: #fff;
                    bottom: 0;
                    position: absolute;
                    width: 100%;
                    transform: scale(2);
                }
            }
        }
        .app_content{
            left: 0;
            right: 0;
            position: absolute;
            top: 10%;
            width: 81.9%;
            margin-left: 8.1% !important;
            margin: auto;
            .flex{
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                .title{
                    width: 50%;
                }
                .search{
                    width: 25%;
                    img{
                        width: 12px;
                        cursor:pointer;
                    }
                }
            }
            
            .food_details{
                .summary{
                    padding:10px 0;
                }
                .title{
                    color: #3B3B3B;
                    font-weight: bold;
                }
            }
            .title{
                color: #fff;
                //padding-bottom: 14px;
                font-size: 14px;
            }
            .menus{
                overflow: auto;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                  }
                .navigation{
                    display: flex;
                    user-select: none;
                    width: 150%;
                    color: #fff;
                    font-size: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #92909061;
                    div{
                        width: 100%;
                        padding-bottom: 7px;
                        cursor: pointer;
                        .active{
                            padding-bottom: 7px;
                            border-bottom: 2px solid;
                        }
                    }
                }
            }
        }
    }
}

.app_heading{
    text-align: center;
}
.flickity-prev-next-button, .flickity-page-dots {
    display: none;
}
.gallery-cell img {
    transform: scale(0.6);
}
.gallery-cell.is-selected img{
    transform: scale(1);
}
.food_details{
    display: none;
    overflow: auto;
    height: 244px;
    user-select: none;
    scrollbar-width: none;
    &.is-selected{
        display: block;
    }
    &::-webkit-scrollbar {
        display: none;
      }
    .content{
        font-size: 10px;
        padding: 12px 4px;
        height:auto !important;
    }
    .btn{
        background: #76256E;
        width: 77%;
        margin: 18px auto;
        color: #fff;
        padding: 10px;
        font-size: 12px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid #76256E;
        transition: 0.2s ease;
        &:hover{
            background: transparent;
            color: #76256E;
        }
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        .boxes{
            font-family: sans-serif;
            box-shadow: 0px -7px 86px #0000000a;
            background: #fff;
            padding: 10px 6px;
            border-radius: 12px;
            margin: 6px 4px;
            color:#9A9A9A;
            div{
                padding-top: 6px;
            }
            span{
                color:#000;
                padding-right: 5px;
            }
            img{
                height: 20px;
            }
        }
        .like{
            cursor:pointer;
            padding-top: 2px;
            &.clicked{
                animation: 0.5s like ease forwards;
            }
        }
        .dots{
            padding-top: 2px;
        }
        img{
            width: 25px;
        }
        .unit{
            border: 1px solid #E6E6E6;
            padding: 0px 8px;
            border-radius: 40px;
            display: flex;
            margin: 0 8px;
            .pink{
                color:#FF5548;
            }
            div{
                padding: 5px 12px;
                &:first-child{
                    border-right: 1px solid #E6E6E6;
                }
            }
        }
    }
    .nutrition{
        text-align: left;
        width: 90%;
        margin: auto;
        //padding-top: 20px;
        .flex{
            flex-wrap: nowrap;
        }
        .detail{
            margin-left: 12px;
            font-size: 10px;
            font-weight: bold;
            width: 65px;
        }
        .percent{
            margin-left: 6px;
            font-size: 10px;
            color:#24B445;
            font-weight: bold;
        }
        .loader{
            background: #ECECEC;
            height: 5px;
            width: 100%;
            border-radius: 40px;
            margin: 6px 0;
            .loading{
                background: #37CEC9;
                height: 5px;
                border-radius: 40px;
                width:0;
                &.eighty_five{
                    &.start{
                        animation: 1.5s eighty_five ease forwards;
                    }
                }
                &.fifty_six{
                    &.start{
                        animation: 1.5s fifty_six ease forwards;
                    }
                }
                &.ninty{
                    &.start{
                        animation: 1.5s ninty ease forwards;
                    }
                }
                &.seventy_five{
                    &.start{
                        animation: 1.5s seventy_five ease forwards;
                    }
                }
                &.sixty_six{
                    &.start{
                        animation: 1.5s sixty_six ease forwards;
                    }
                }
                &.eighty{
                    &.start{
                        animation: 1.5s eighty ease forwards;
                    }
                }
            }
        }
        .title{
            font-size: 12px !important;
            font-weight: bold;
            padding-bottom: 0 !important;
        }
        .sub-title{
            font-size: 10px;
            color:#1E1E1E;
            padding-bottom: 10px;
        }
    }
}
.nutrition .flex {
    padding-bottom: 4px !important;
}

@keyframes eighty_five{
    from{width:0%}
    to{width:85%}
}
@keyframes fifty_six{
    from{width:0%}
    to{width:56%}
}
@keyframes ninty{
    from{width:0%}
    to{width:90%}
}
@keyframes seventy_five{
    from{width:0%}
    to{width:75%}
}
@keyframes sixty_six{
    from{width:0%}
    to{width:66%}
}
@keyframes eighty{
    from{width:0%}
    to{width:80%}
}
@keyframes like{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 160px;
    right: -110px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 160px;
    right: -25px;
  }

  .user-guide{
        .swipe{
            .line{
            height: 2px;
            width: 84px;
            top: 167px;
            right: -102px;
            }
            .scroll_down{
                top: 133px;
                right: -87px;
            }
        }
      .scroll_down{
        bottom: 135px;
        position: absolute;
        right: -80px;
        font-size: 12px;
        text-align: center;
      }
      .line{
        height: 100px;
        position: absolute;
        background: #000;
        width: 2px;
        right: -18px;
        bottom: 98px;
      }
      .arrow{
          &.down{
            bottom: 90px;
            position: absolute;
            right: -25px;
          }
      }
  }